/* 자동으로 들어가있음
body {
    width: 100%;
    height: 100%;
} */
a {
    text-decoration: none;
  }

a:visited {
    color : black;
}
body {
    display: flex;
    justify-content: center;
}
/* 전체 페이지에 여백주기  */
.pageAll {
    width: 50vw;
    display: flex;
    flex-direction: column;
}

li {
    list-style: none;
}
/* 네비바 설정  */
.navbar {
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.loginrow {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.loginBtn {
    border: #e2e2e2 solid 1px;
    padding: 5px 3px;
}

.row {
    display: flex;
    flex-direction: row;
}

.navRow {
    display: flex;
    flex-direction: row;

}

.m1 {
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space : nowrap;
}

.bgColor {
    background-color: aquamarine;
    width: 100vw;
    height: 50vh;
    transform: translate(-25%, -3%);
}

.pop {
    justify-content: center;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    padding: 5px 5px;
}

.m2 {
    background-color: #FFB81C;
}

.pop li {
    padding: 20px;
}

.love {
    display: grid; 
    grid-template-columns: 13% 37% 13% 37%;
}

.loveSec {
    display: flex;
    flex-direction: column;
}

.loveSec div {
    margin: 5px 0px;
}

.loveFour div {
    margin: 5px 0px;
} 

.aboutLink {
    font-size: 12px;
    color: #e2e2e2;
    margin-top: 3px;
}

.grid33 {
    display: grid; 
    grid-template-columns: 33% 33% 33%;
} 

.grid50 {
    height: 252px;
    display: grid; 
    grid-template-rows: 50% 50%;
    justify-content: center;
}